.navbar-brand {
  padding-top: 8px;
}

.panel-default {
  margin-left: 10px;
  margin-right: 10px;
}

.panel-title {
  font-size: 16px;
  font-weight: bold;
}

.alert {
  margin-left: 10px;
  margin-right: 10px;
}

.aw-titulo-panel {
  float: left;
  padding-top: 2px;
}

.aw-link-panel {
  float: right;
  padding: 0px;
}