<!DOCTYPE html>
<html lang="pr-br">
  <nav
    th:fragment="Cabecalho"
    class="navbar navbar-light navbar-static-top"
    style="background-color: #f5f5f5; border-color: #ddd;"
  >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img
            alt="Logo do Sistema MyPilas"
            src="https://github.com/fabianysousa/project-interface-myPilas/blob/master/imagens/logo.png?raw=true"
          />
        </a>
      </div>
    </div>
  </nav>
</html>
