<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{LayoutPadrao}"
>
  <head>
    <title>Login</title>
  </head>

  <section layout:fragment="conteudo">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <div class="panel panel-default" style="margin-top: 50px;">
            <div class="panel-heading">
              <div class="clearfix">
                <h1 class="panel-title aw-titulo-panel">Cadastro</h1>
              </div>
            </div>

            <div class="panel-body">
              <form
                action=""
                class="form-horizontal"
                style="justify-content: center; padding: 10px"
              >
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nome"
                    placeholder="nome"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <label for="senha">Senha</label>
                  <input
                    type="password"
                    class="form-control"
                    id="senha"
                    placeholder="Senha"
                  />
                </div>

                <div class="form-group">
                  <label for="repetirsenha">Repetir senha</label>
                  <input
                    type="password"
                    class="form-control"
                    id="repetirsenha"
                    placeholder="Senha"
                  />
                </div>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <hr />
                <button type="button" class="btn btn-link">
                  Já possue cadastro ?
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</html>
